@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, #root, body {
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
}

#page-proxy-deck,
#page-proxy-favicon,
#page-proxy-button {
  width: 16px;
  height: 16px;
}

#page-proxy-deck {
  cursor: -moz-grab;
  margin: 2px 2px;
}